.header {
    display: flex;
    align-items: center;
    background-color: #222222;
    padding: 10px 20px; /* Увеличиваем отступы слева и справа */
    position: fixed; /* Зафиксируем хедер */
    top: 0;         /* Прижмем к верхней части */
    width: 100%;    /* Занимает всю ширину */
    z-index: 1000;  /* Чтобы он был поверх содержимого */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Добавление тени */
  }
  
  .logo {
    color: white;
    font-size: 24px;
    margin-right: auto;
    margin-left: 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    margin: 0 15px;
    color: white;
    cursor: pointer;
  }
  
  .search-input {
    border: 1px solid #05A5BE; 
    padding: 5px;
    border-radius: 10px;
    background-color: transparent; /* Прозрачный фон */
    color: white;  /* Цвет текста */
    width: 200px;  /* Ширина поисковой строки */
    margin-right: 15px; /* Отступ справа */
  }
  
  .notification-icon {
    margin: 0 15px; /* Отступ от кнопки поиска */
    color: white;
    font-size: 24px;
  }
  
  .login-button {
    color: white;
    padding: 5px 10px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
  }
  